<fieldset *ngIf="Value">
    <legend (click)="Log(Value)">{{Value.Name}}</legend>
    <table style="width:100%;">
            <tr>
                <td style="vertical-align: top; width: 20%;">
                    <fieldset>
                        <legend>Repositories({{Value.Repositories.length}})</legend>
                        <div *ngFor="let repository of Value.Repositories" (click)="selectRepository(repository)">
                            {{repository.Name}}
                        </div>
                    </fieldset>
                    
                </td>
                <td style="vertical-align: top;">
                    <repository-control *ngFor="let repository of Value.Repositories"  [ctlContext]=this [Value]=repository (modelSelected)="selectModel($event)"></repository-control>
                    <model-control [ctlContext]=this [Value]="SelectedModel" (modelSelected)="selectModel($event)"></model-control>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <fieldset>
                        <legend>Requests</legend>
                        <div *ngFor="let request of Value.API.Requests">
                            <span (click)="Log(request)">{{request.Path}}</span>
                            <pre>{{Json(request.Body)}}</pre>
                        </div>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                        <fieldset>
                            <legend>Actions</legend>
                        </fieldset>
                    </td>
                </tr>
        </table>
</fieldset>

