div.menu{
    margin: 0 0 10px 0;
    background-color: #ccc;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
div.menu a.item{
    padding: 0 0 0 5px;
    cursor: pointer;
}
div.menu a.item.disabled {
    color: #999;
}
div.menu a.item:hover{
    text-decoration: underline;
}
div.response{
    border:1px solid #000;
    border-radius: 5px;
}
div.response.error {
    color:red;
    border-color: red;    
}
div.response div.title span.label{
    padding:0 0 0 5px;
}
div.response div.title div.close{
    float:right;
    cursor: pointer;
    padding: 0 5px 0 0;
}
div.response.error div.title{
    background-color: red;
    color:#fff;
}
div.response.ok {
    color:green;
    border-color:green;

}

div.repository{
    cursor: pointer;
    margin:0 10px 10px 0;
    padding:5px;
    border-radius:5px;
    color:#444;
    background-color:#ccc;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
div.repository.selected{
    background-color:#444;
    color:#ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
