div.explorer div.nav {
    margin:0 0 10px 0;
}

div.explorer div.nav a {
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px;
}
div.explorer div.nav a:hover {
    border: 1px solid #000;
    background-color: #eee;
}

div.explorer div.repository {
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px;
    margin:2px 0px;
}
div.explorer div.repository:hover {
    border: 1px solid #000;
    background-color: #eee;
}

div.explorer div.request {
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px;
    margin: 2px 0px;
}

div.explorer div.request:hover {
    border: 1px solid #000;
    background-color: #eee;
}