<fieldset *ngIf="Value">
    <legend (click)="Log(Value)">{{Value.toString()}}</legend>
    <div *ngIf="!Selecting">
        <div class="data" *ngFor="let property of dataProperties">
            <div class="header">{{property.Name}}</div>
            <div class="body">
                <input type="text" [(ngModel)]=Value[property.Name]/>
            </div>     
        </div>
        <div class="model" *ngFor="let property of modelProperties">
            <div class="header">
                <div class="title">
                    {{property.Name}}
                    <div class="actions">
                        <a *ngIf="Value[property.Name]" class="far fa-edit" (click)="Edit(model)"></a>
                        <a *ngIf="!Value[property.Name]" class="far fa-plus-square" (click)="Add(model)"></a>
                    </div>
                </div>
            </div>
            <div class="body">
                <div *ngIf="Value[property.Name]">
                    <pre>{{Json(Value[property.Name])}}</pre>
                </div>
                <div *ngIf="!Value[property.Name]" style="text-align:center;font-size:14pt;padding:3px 0;">
                    <a class="far fa-plus-square" (click)="Add(model)"></a>
                </div>
            </div>  
            <div class="footer">

            </div>   
        </div>        
        <div *ngFor="let property of collectionProperties">
            <fieldset>
                <legend>{{property.Name}}</legend>
            </fieldset>
        </div>
    </div>
    <repository-control *ngIf="Selecting" [ctlContext]=ctlContext [Value]=Selecting.Repository (modelSelected)="selectModel($event)"></repository-control>
</fieldset>
    
