<div *ngIf="Visible">
    <div class="header">
        <div class="title">
            
            <span class="label" (click)="Log(this.Value)"> {{Value.toString()}} </span>
            <div class="actions">
                <div *ngIf="ChangeStatus !== 'Unchanged'" class="button fas fa-exclamation-triangle"></div>
                <div class="button fas fa-cog">
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div *ngFor="let property of dataProperties" class="property">
            <property-control [ctlModel]=this [Value]=property></property-control>
        </div>
        <div *ngFor="let property of modelProperties" class="property">
            <property-control [ctlModel]=this [Value]=property></property-control>
        </div>
    </div>
    <div class="footer">
        <div class="messages">
            <div class="message fas fa-exclamation-triangle"> {{ServerStatus}}</div>
            <div *ngIf="ChangeStatus !== 'Unchanged'" class="message fas fa-exclamation-triangle"> {{ChangeStatus}}</div>
        </div>        
    </div>
</div>
    
