div.items div.head {
    border-radius: 5px 5px 0 0;
    background-color:#ccc;
    color:#444;
    font-weight: bold; 
    padding: 3px 5px;
    margin:0 0 5px 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
div.items table thead tr {
    background-color:#ccc;
    text-align:center;
}
div.items table thead tr td div {
    cursor: pointer;
    margin:0 2px 2px 0;
    background-color:#ccc;
    text-align:center;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}
div.items table thead tr td:hover div {
    margin:0 2px 0 0;
    background-color:#bbb;
    text-align:center;
    -webkit-box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.75);
}
div.items table tbody tr {
    cursor: pointer;
}
div.items table tbody tr:nth-child(odd) {
    background-color:#fff;
}
div.items table tbody tr:nth-child(even) {
    background-color:#eee;
}
div.items table tbody tr:hover {
    background-color:#ddd;
}

div.items table tfoot tr {
    background-color:#ccc;
    color:#444;
}
div.items table tfoot tr td {
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}
div.items table tfoot tr td div.options {
    padding: 5px 5px 0 0;
    text-align:right;
}
div.items table tfoot tr td div.options a {
    margin:1px 2px 2px 1px;
    border-radius: 5px;
    border-left:1px solid #444;
    border-top:1px solid #444;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}
div.items table tfoot tr td div.options a:hover {
    border:none;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);  

}

table.results tfoot td div.actionbar {
    text-align:right;
    border-radius: 0 0 5px 5px;
    padding: 0px 10px;
    background-color: #ccc;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
table.results tfoot td div.actionbar a {
    cursor: pointer;
    background-color: #000;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}
table.results tfoot td div.actionbar a:hover {
   -webkit-box-shadow: -2px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 0px 0px rgba(0,0,0,0.75);
}