<div *ngIf="Visible">
    <div class="items">
        <div class="head">
            <div class="title">
                <span>Results</span>
            </div>
        </div>
        <div class="body">
            <table style="width:100%;" cellpadding=0 cellspacing=0>
                <thead>
                    <tr>
                        <td *ngFor="let column of Table.Columns">
                            <div>{{column.Name}}</div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of Table.Rows">
                        <td *ngFor="let column of this.Table.Columns" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:200px;">
                            {{row[column.Name]}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td [attr.colspan]=Table.Columns.length>
                            <div class="options">
                                <a class="fas fa-plus-circle" (click)="New()"></a>
                            </div>                                    
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div *ngIf="! SelectedModel">
           <div style="margin:10px 0px">
                <div *ngIf="!Display" style="text-align:center">
                    Search found 0 results
                </div>
                <div *ngIf="Display">

                </div>
            </div>
        </div>
        <model-control *ngIf=SelectedModel [Value]=SelectedModel></model-control>
    </div>


</div>