<fieldset *ngIf="this.selectedItemType == 'Model'">
    <legend (click)="Log(selectedItem)">{{this.selectedItem}}</legend>

    <div *ngFor="let property of this.Properties">
        <div *ngIf="propertyType(property) == 'Model'">
            <div *ngIf="property.GetValue(this.selectedItem)">
                <span (click)="selectItem(property.GetValue(this.selectedItem))">{{property.Name}}</span><br>
                <div style="float:right;">
                    <a (click)="removeModel(property);" style="display:inline-block;margin-right:auto;">(remove)</a>
                </div>
                <pre (click)="selectedItem = property.GetValue(this.selectedItem)">{{this.toJson(property)}}</pre>
            </div>
            <div *ngIf="!property.GetValue(this.selectedItem)">
                <span>{{property.Name}} </span>
                <pre (click)="addModel(property)">undefined (click to add)</pre>
            </div>
        </div>
        <div *ngIf="propertyType(property) == 'SubRepository'">
            <span>{{property.Name}} </span>
            <pre (click)="selectItem(property.GetValue(this.selectedItem))">{{this.toJson(property)}}</pre>
        </div>
        <div *ngIf="propertyType(property) == 'any'">
            <span>{{property.Name}} </span>
            <textarea [(ngModel)]="this.selectedItem[property.Name]" placeholder={{property.Name}}></textarea>
        </div>
    </div>
</fieldset>
<fieldset *ngIf="this.selectedItemType == 'Repository'" class="repository">
    <legend (click)="Log(selectedNode)">Repository({{this.selectedItem.Type.Name}})</legend>
    <input [(ngModel)]="tbxSearch" placeholder="Search"><a (click)="search(tbxSearch);">(search)</a>
    <table style="width:100%;">
        <thead>
            <tr>
                <td *ngFor="let property of Properties">{{property.Name}}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of this.Items" (click)="selectedItem = item">
                <td *ngFor="let property of Properties">{{property.GetValue(item)}}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <div style="float:right;">
            <a (click)="addModel();" style="display:inline-block;margin-right:auto;">(new)</a>
        </div>
    </div>
</fieldset>
<fieldset *ngIf="this.selectedItemType == 'SubRepository'">
    <legend (click)="Log(selectedNode)">SubRepository</legend>
    <table style="width:100%;">
        <thead>
            <tr>
                <td *ngFor="let property of Properties">{{property.Name}}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of this.Items" (click)="Log(item)">
                <td *ngFor="let property of Properties">{{property.GetValue(item)}}</td>
            </tr>
        </tbody>
    </table>
</fieldset>

