<div class="treenode">
    <span *ngIf="expandable()" (click)="expanded=!expanded">
        <span *ngIf="expanded"> - </span>
        <span *ngIf="!expanded"> + </span>
    </span>
    <span *ngIf="!expandable()">
        &nbsp;
    </span>
    <span (click)="onSelect()">{{label}}</span>
    <div *ngIf="expanded">
        <treenode #nodes *ngFor="let item of Items" [parentNode]="this" [value]="item.value" [parentValue]="item.parentValue" [parentProperty]="item.parentProperty" (select)="onChildSelect($event)"></treenode>
    </div>      
</div>