div.property {
    margin:10px 0 0 0;
}
div.header {
    color:#444;
    border-radius: 5px 5px 0 0;
    background-color: #ccc;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
div.header div.title{    
    cursor: pointer;
    padding:5px;
    float:left;
}
div.header div.title div.toggle {
    padding:0;
}
div.header div.title span.value {
    font-weight: bold;
}
div.header div.actions {
    float:right;
}
div.header div.actions a.action{
    cursor: pointer;
    border-radius:5px;
    padding:5px;
    margin:0 5px 0 0;
}
div.header div.actions a.action:hover{
    background-color:#444;
    color:#ccc;
}

div.header::after{
    display:block;
    content:"";
    clear:both; 
}




div.body {
    
    background-color: #ededed;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

div.footer {
    font-size:8pt;
    background-color: #ededed;
    color:#444;    
    padding: 3px 5px;


    border-radius: 0 0 5px 5px;
    background-color: #ededed;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

div.footer div.messages {
    float:left;
}
div.footer div.actions {
    float:right;
}
div.footer div.actions a.action{
    cursor: pointer;
    border-radius:5px;
    padding:5px;
    margin:0 5px 0 0;    
}
div.footer div.actions a.action:hover{
    background-color: #444;
    color:#ccc; 
}
div.footer::after{
    display:block;
    content:"";
    clear:both; 
}


table thead {
    margin:0 0 5px 0;
}
table thead tr {
    background-color:#ccc;
    text-align:center;
}
table thead tr td{
    border-right:2px solid #bbb;
}
table thead tr td:last-child{
    border-right:0px solid #444;
}
table thead tr td div {
    padding:3px 0px;
    cursor: pointer;
    color:#444;
    background-color:#ccc;
    text-align:center;
}
table thead tr td:hover div {
    background-color:#444;
    color:#ccc;
    text-align:center;
}
table tbody tr {
    font-size:10pt;
    cursor: pointer;
    color:#444;
}
table tbody tr:nth-child(odd) {
    background-color:#fff;
}
table tbody tr:nth-child(even) {
    background-color:#eee;
}
table tbody tr:hover {
    background-color:#444;
    color:#ccc;
}
table tbody tr td {
    text-align:center;
    padding: 3px 0 3px 5px;
}
