<div *ngIf="Visible">
    <div class="header">
        <div class="title" *ngIf="ActiveNode === undefined">
            {{Repository.Name}}
        </div>
        <div class="actions">
            <a class="action fas fa-search"></a>
        </div>
    </div>
    <div class="body">
        <table style="width:100%;" cellpadding=0 cellspacing=0>
            <thead>
                <tr>
                    <td *ngFor="let property of Table.Properties">
                        <div>{{property.Name}}</div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let model of Table.Models" (click)="Select(model)">
                    <td *ngFor="let property of Table.Properties">
                        {{model[property.Name]}}
                    </td>
                </tr>
                <tr *ngIf="Table.Models === undefined || Table.Models.length === 0">
                    <td [attr.colspan]=Table.Properties.length>
                        No Results Found
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <div class="messages">

        </div>
        <div class="actions">
            <a class="action fas fa-plus" (click)="Create()"></a>
        </div>
    </div>
</div>