<div *ngIf="User">
    <span (click)="Log(User)">{{User.Username}}:{{User.Password}}</span><br/>
    <input [(ngModel)]="User.Username" placeholder="Username" />:<input [(ngModel)]="User.Password" placeholder="Password"/>
    <div *ngIf="User.Person">
        <span (click)="Log(User.Person)">{{User.Person.FirstName}} {{User.Person.LastName}}</span><br>
        <input [(ngModel)]="User.Person.FirstName" placeholder="FirstName" /> <input [(ngModel)]="User.Person.LastName" placeholder="LastName" />
    </div>
</div>  
<div *ngIf="!User">
    <a (click)="NewUser()">New User</a>
</div>  

<div style="margin: 25px 0 0 0;">
    <span (click)="Log(context)">Context (</span>
    <span (click)="Log(context.ChangeTracker.Entries)">Entries:{{context.ChangeTracker.Entries.length}}</span>
    <span (click)="Log(context.ChangeTracker.Changes)">Changes:{{context.ChangeTracker.Changes.length}})</span>
    <a *ngIf="context.ChangeTracker.Changes.length > 0" (click)="SaveChanges()">Save</a> 
    <div >
        <span style="font-size:12pt;font-weight:bold;">Requests:</span>
        <p (click)="Log(request)" *ngFor="let request of context.API.Requests" style="padding:0 0; margin:0 0;">
            {{request.Date | date:'h:mm:ss'}} {{request.Path}}
        </p>
    </div>
</div>


