<div *ngIf="PersonEmail">
    {{PersonEmail.Name}}
    <div (click)="Log(PersonEmail.Person)" *ngIf="PersonEmail.Person">
        {{PersonEmail.Person.FirstName}} {{PersonEmail.Person.LastName}}
        <div *ngIf="PersonEmail.Person.User">
            <input [(ngModel)]="PersonEmail.Person.User.Username" placeholder="Username" /><br />
            <input [(ngModel)]="PersonEmail.Person.User.Password" placeholder="Password" /><br />
        </div>
    </div>
    <div (click)="Log(PersonEmail.Email)" *ngIf="PersonEmail.Email">
        {{PersonEmail.Email.Address}}
    </div>
</div>

<div *ngIf="Person">
        <span (click)="Log(Person)">Person:{{Person.FirstName}} {{Person.LastName}}</span>
        <div *ngIf="Person.User">
            <input [(ngModel)]="Person.User.Username" placeholder="Username" /><br />
            <input [(ngModel)]="Person.User.Password" placeholder="Password" /><br />
        </div>
</div>


<div>
    <span (click)="Log(context)">Context <span (click)="context.SaveChanges()" *ngIf="context.Changes.Changes.length > 0">Save</span></span>
    <div (click)="Log(request)" *ngFor="let request of context.API.Requests">{{request.Url}}</div>
</div>