<div class="property">
        <div class="header" [ngClass]="{'open':ToggleState==='Open'}">      
            <div class="title">
                <a class="toggle fas" [ngClass]="{'fa-angle-down':(ToggleState=='Open'), 'fa-angle-right':(ToggleState=='Closed')}"></a>
                {{Property.Name}}
            </div>
        </div>
        <div class="body" *ngIf="ToggleState=='Open'">
            <table style="width:100%;" cellpadding=0 cellspacing=0>
                <thead>
                    <tr>
                        <td *ngFor="let property of Table.Properties">
                            <div>{{property.Name}}</div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let model of Table.Models" >
                        <td *ngFor="let property of Table.Properties">
                            {{model.__controller.Values.Actual.Data[property.Name]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer" *ngIf="ToggleState==='Open'">
            <div class="messages">                
            </div>
            <div class="actions">
                <a class="action fas fa-plus" (click)="Add()"></a>
            </div>
        </div>
    </div>
        