<div class="property" [ngClass]="{'error':Error}">
        <div class="header" [ngClass]="{'open':ToggleState==='Open'}">      
            <div class="title" (click)="Toggle()">
                <a *ngIf="Error" class="fas fa-exclamation-triangle"></a>
                <a *ngIf="!Error"class="toggle fas" [ngClass]="{'fa-angle-down':(ToggleState==='Open'), 'fa-angle-right':(ToggleState==='Closed'), 'fa-lock':(ToggleState==='Locked')}"></a>
                {{Property.Name}}:<span class="value">{{ActiveModel[Property.Name]}}</span>
            </div>
        </div>
        <div class="body" *ngIf="ToggleState=='Open'">
            <textarea spellcheck="false" *ngIf="Property.PropertyType.Name=='string'" type="text" spellchck=false [(ngModel)]="ActiveModel[Property.Name]" [rows]="2" placeholder="{{Property.Name}}"></textarea>
            <input *ngIf="Property.PropertyType.Name=='Date'" type="date" [(ngModel)]="ActiveModel[Property.Name]" placeholder="{{Property.Name}}" />
            <input *ngIf="Property.PropertyType.Name=='number'" type="number" [(ngModel)]="ActiveModel[Property.Name]" placeholder="{{Property.Name}}" />
        </div>
        <div class="footer" *ngIf="ToggleState=='Open'">
            
            <div class="messages">
                <div class="message error" *ngIf="ActiveModel.__controller.Error && ActiveModel.__controller.Error.InnerErrors && ActiveModel.__controller.Error.InnerErrors[Property.Name]">
                    <i class="fas fa-exclamation-triangle"></i>
                    {{ActiveModel.__controller.Error.InnerErrors[Property.Name].Message}}
                    {{ActiveModel.__controller.Error.InnerErrors[Property.Name].Description}}
                </div>
            </div>    
            <div class="actions">
                <a class="action fas fa-undo" *ngIf="ChangeState !== 'Unchanged'" (click)="Undo()"></a>
            </div>
        </div>
    </div>
    