<div class="property">
    <div class="header" [ngClass]="{'open':ToggleState==='Open'}">      
        <div class="title" (click)="Toggle()">
            <a class="toggle fas" [ngClass]="{'fa-angle-down':(ToggleState=='Open'), 'fa-angle-right':(ToggleState=='Closed')}"></a>
            {{Property.Name}}: 
            <span class="value">{{ActiveModel[Property.Name]}}</span>
        </div>
        <div class="actions" *ngIf="ToggleState==='Closed' && ActiveModel[Property.Name] === undefined">
            <a *ngIf="ActiveModel[Property.Name] === undefined" class="action fas fa-plus"></a>
        </div>
        <div class="actions" *ngIf="ToggleState==='Closed' && ActiveModel[Property.Name] !== undefined">
            <a *ngIf="ActiveModel[Property.Name] !== undefined" class="action fas fa-edit" title="edit"></a>
            <a *ngIf="ActiveModel[Property.Name] !== undefined" class="action fas fa-exchange-alt" title="change"></a>       
        </div> 
    </div>
    <div class="body" *ngIf="ToggleState==='Open'">
        <pre *ngIf="ActiveModel[Property.Name]">{{ActiveModel[Property.Name].toJson()}}</pre>
    </div>
    <div class="footer" *ngIf="ToggleState==='Open'">
        <div class="messages">
            <div class="message">{{ChangeState}}</div>
        </div>
        <div class="actions" *ngIf="ActiveModel[Property.Name] === undefined">
            <a class="action fas fa-exchange-alt" title="Select" (click)="Select()"></a>
            <a class="action fas fa-plus" title="Add" (click)="Add()"></a>
        </div>
        <div class="actions" *ngIf="ActiveModel[Property.Name] !== undefined">
            <a class="action fas fa-edit" title="Edit" (click)="Edit()"></a>
            <a class="action fas fa-exchange-alt" title="Select" (click)="Select()"></a>       
        </div>   
    </div>
</div>
    