div.dataPanel{
    border-radius:5px;
    box-shadow: 2px 2px #aaa;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color:#ddd;
    background-image: linear-gradient(#ddd, #fff);
    padding:5px;
}
.dataPanel_header{
    margin:0 0 5px 0;
}

.dataPanel_header_title{
    display: flex;    
}
.dataPanel_header_title_toggle{
    margin:0 10px 0 0;
}
.dataPanel_header_title_toggle:hover{
    color: inherit;
}
.dataPanel_header_title_label{
    font-weight: bold;
    box-shadow: -2px 0px #999;
    text-shadow: 1px 1px #999;
    padding:0 0 0 5px;
}
.dataPanel_header_title_toolbar{    
    margin-left:auto;  
    padding:0 10px 0 0;
}
.dataPanel_header_title_toolbar_button{
    border-radius:3px;
    padding: 3px;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    color:#000;    
}
.dataPanel_header_title_toolbar_button:hover{
    box-shadow: -2px -2px #888;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: #ccc;
}
.dataPanel_header_title_toolbar_button.selected{
    box-shadow: -2px -2px #888;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: #ccc;
}
.dataPanel_header_title_toolbar_button.disabled{
    color: #aaa;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color:#ddd;
    box-shadow: 0px 0px #888;
}
.dataPanel_header_options{
    margin: 5px 0 0 0;
    border-radius:5px;
    padding:5px;
    background-color:#eee;
    box-shadow: -1px -1px #999;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
.dataPanel_header_options_option{

}
.dataPanel_header_options_option_header{

}
.dataPanel_header_options_option_header_title{
    display:flex;
    margin: 0 0;
    box-shadow: 0px 2px #999;
}
.dataPanel_header_options_option_header_title_icon{
    margin: 0 5px 0 0;
}
.dataPanel_header_options_option_header_title_label{ 
    font-weight: bold;
    
    text-shadow: 1px 1px #999;
    padding:0 0 0 5px;
}
.dataPanel_header_options_option_header_title_toolbar{
    margin-left:auto;  
    padding:0 0 0 0;
}
.dataPanel_header_options_option_header_title_toolbar_button {
    border-radius:3px;
    padding: 3px;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    color:#000;    
}
.dataPanel_header_options_option_header_title_toolbar_button:hover{
    box-shadow: -2px -2px #888;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: #ccc;
}
.dataPanel_header_options_option_header_title_toolbar_button.selected{
    box-shadow: -2px -2px #888;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: #ccc;
}
.dataPanel_header_options_option_header_title_toolbar_button.disabled{
    color: #aaa;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color:#ddd;
    box-shadow: 0px 0px #888;
}
.dataPanel_header_options_option_body{

}
.dataPanel_header_options_option_footer{
    display: block;
    text-align:right;
}
.dataPanel_header_options_option_footer_toolbar{

}
.dataPanel_header_options_option_footer_toolbar_button{
    border-radius:3px;
    padding: 3px;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    color:#000;   
}
.dataPanel_header_options_option_footer_toolbar_button:hover{
    box-shadow: -2px -2px #888;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: #ccc;
}
.dataPanel_body{
    border-radius:5px;
    padding:5px;
    background-color:#fff;
    box-shadow: -2px -2px #999;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
dataPanel_footer{

}

div.dataPanel div.head span.title span.name{
    font-weight: bold;
    text-shadow: 1px 1px #999;
}
div.dataPanel div.head span.title div.toolbar{
    margin-left:auto;  
}
div.dataPanel div.head span.title div.toolbar span.button{
    box-shadow: 2px 2px #888;
    padding:0 2px 0 0;
    margin:0 3px;
}
div.dataPanel div.head span.title div.toolbar span.button:hover{
    box-shadow: 0px -0px #888;
    background-color:#eee;
}
div.dataPanel div.head span.title div.toolbar span.button.selected{
    box-shadow: 2px 2px #888;
    background-color:#ccc;
}
div.dataPanel div.head div.options{
    border-radius:5px;
    padding:5px 0;
    margin:5px 0;
    background-color:#eee;
    box-shadow: -1px -1px #999;
    
}
div.dataPanel div.head div.options div.option{
    margin: 0 5px 0 0;
}
div.dataPanel div.head div.options div.option div.header{
}
div.dataPanel div.head div.options div.option div.body{
}
div.dataPanel div.head div.options div.option div.footer{
}
div.dataPanel div.head div.options div.option span.icon{
    padding:0 2px 0 0;
    margin:0 3px;
}
div.dataPanel div.head div.options div.option span.icon:hover{
    box-shadow: -1px -1px #888;
    background-color:#ccc;
}
div.dataPanel div.body{
    border-radius:5px;
    padding:5px;
    background-color:#fff;
    box-shadow: -2px -2px #999;
}


div.context{
    margin:10px;
    border-radius:5px;
    box-shadow: 2px 2px #aaa;
    background-color:#ddd;
    background-image: linear-gradient(#ddd, #fff);
    padding:5px;
}
div.context_header{
    padding:5px 0;
    cursor: pointer;
    position: relative;
}
div.context_header_label{
    font-weight:bold;
}
div.context_body{
    border-radius:5px;
    padding:5px;
    background-color:#fff;
    box-shadow: -2px -2px #999;
}
div.context_header_options{
    border-radius:5px;
    padding:5px;
    margin:5px;
    background-color:#eee;
    box-shadow: -1px -1px #999;
    text-align:center;
}
span.context_header_toolbar {
    display: inline-flex;
    text-align:center;
    margin: 0px 10px;
    border:1px solid #000;
}

span.btnOptions{
    position: absolute;
    padding:2px;
    right:10px;
}
span.btnOptions:hover{
    box-shadow: -1px -1px #888;
}
span.btnOptions.selected{
    box-shadow: -2px -2px #888;
}
div.btnOption{
    display: inline-flex;
    padding:2px;
    border:1px solid #000;
}

a.headerButton{

}
a.optionButton{

}